@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');


:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%)

}

body {
  font-family: 'lexend Deca';
  font-size: 15px;
  background-color: var(--Very-light-gray);
  padding: 30px 20px;
  min-height: 110vh;
}

.stage {
    margin: auto;
}

.a {
    text-decoration: none;
    color: var(--Bright-orange);
}


.button-flex, .button-grid {
    font-size: 30px;
    font-family: 'lexend deca';
    background-color: var(--Very-light-gray);
    border: none;
    padding: 14px 28px;
    border-radius: 50px;
    /* margin-top: 30px; */
    margin-left: 5px;
    margin-bottom: 20px;
}

.button-flex:hover {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
  cursor: pointer;
  padding: 12px 26px;
  transition: .5s;
}

.button-grid:hover {
  background-color: var(--Dark-cyan);
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
  cursor: pointer;
  padding: 12px 26px;
  transition: .5s;
}



.info-sedans, .info-suvs, .info-luxury {
  color: var(--Transparent-white);
  line-height: 26px;
}

h1 {
  font-family: 'big shoulders display';
  font-size: 38px;
  color: var(--Very-light-gray);
}

section {
  padding: 48px;
}

.sedans {
  background-color: var(--Bright-orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.suvs {
  background-color: var(--Dark-cyan);
}
.luxury {
  background-color: var(--Very-dark-cyan);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  font-size: 15px;
  font-family: 'lexend deca';
  background-color: var(--Very-light-gray);
  border: none;
  padding: 14px 28px;
  border-radius: 50px;
  margin-top: 70px;
}

.button-sedans {
  color: var(--Bright-orange);
}

.button-suvs {
  color: var(--Dark-cyan);
}

.button-luxury {
  color: var(--Very-dark-cyan);
}

.button-sedans:hover {
  background-color: transparent;
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
  cursor: pointer;
  padding: 12px 26px;
  transition: .5s;
}

.button-suvs:hover {
  background-color: transparent;
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
  cursor: pointer;
  padding: 12px 26px;
  transition: .5s;
}

.button-luxury:hover {
  background-color: transparent;
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
  cursor: pointer;
  padding: 12px 26px;
  transition: .5s;
}



@media only screen and (min-width: 480px) {
  body {
      max-height: 100vh;
  }

  .stage {
      margin-top: 0;
      padding-left: 180px;
  }

  .button-grid {
      margin-left: 670px;
  }

  main {
    margin: auto;
    display: flex;
    max-width: 900px;
  }

  .sedans {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .luxury {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}

